<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Add Friend(s)</title>
</head>
<body>
<div id="content">
   <form method="post" action="">
       <label for="email">Enter the email address of the User you want to see:</label>
       <input type="email" name="email1" /><br />
       <label for="email">Enter the email address of the User you want to add as a friend:</label>
       <input type="email" name="email2" /><br />
       <input type="submit" />s
   </form>
</div>
</body>
</html>